<div id="nav">
  <span class="fas fa-menu"></span>
  <a href="/"><img class="w3-image" src="/assets/images/bff-web-logo_3.png" alt="Bast Foot Forward Logo" /></a>
  <div class="w3-bar">
    <a href="/" class="w3-bar-item w3-mobile">Home</a>
    <a href="/about.html" class="w3-bar-item w3-button w3-mobile">About</a>
    <a href="/expectations.html" class="w3-bar-item w3-button w3-mobile">Expectations</a>
    <a href="/contact.html" class="w3-bar-item w3-button w3-mobile">Contact</a>
  </div>
</div>

<div id="mobile-nav">

</div>