<div class="footer-wrap">
    <div class="footer">
		<style type="text/css">
			@font-face {
				font-family: SQMarket-Medium;
				font-style: normal;
				font-weight: 500;
				src:
					url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium.woff2") format("woff2"),
					url("//cdn2.editmysite.com/fonts/SQ_Market/sqmarket-medium.woff") format("woff");
			}
		</style>
		<div id="weebly-footer-signup-container-v3">
			<a href="https://www.weebly.com?utm_source=internal&utm_medium=footer" target="_blank" class="signup-container-header" id="signup-link-href">
				<div class="powered-by">
					<div class="footer-published-ab-powered-by">
						Powered by <span class="link weebly-icon"></span>
						<img class="footer-ab-published-toast-image" src="//cdn2.editmysite.com/images/site/footer/footer-toast-published-image-1.png">
						<span class="footer-ab-published-toast-text">Create your own unique website with customizable templates.</span>
						<span class="footer-ab-published-toast-button-wrapper"><button class="footer-published-ab-button">Get Started</button></span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
