<div class="nav mobile-nav">
    <label class="hamburger"><span></span></label>
    <ul class="wsite-menu-default">
        <li id="pg883192411922595355" class="wsite-menu-item-wrap">
            <a href="/" class="wsite-menu-item">Home</a>
        </li>
        <li id="pg806928283428762243" class="wsite-menu-item-wrap">
            <a href="/about.html" class="wsite-menu-item">About</a>
        </li>
        <li id="pg676846473451843292" class="wsite-menu-item-wrap">
            <a href="/expectations.html" class="wsite-menu-item">Expectations</a>
        </li>
        <li id="pg815204910496237528" class="wsite-menu-item-wrap">
            <a href="/contact.html" class="wsite-menu-item">Contact</a>
        </li>
    </ul>
</div>